/* oswald-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/oswald-regular-webfont.woff2") format("woff2"),
		url("../fonts/oswald-regular-webfont.woff") format("woff");
}
/* oswald-500 - latin */
@font-face {
	font-display: swap;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/oswald-medium-webfont.woff2") format("woff2"),
		url("../fonts/oswald-medium-webfont.woff") format("woff");
}
/* oswald-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/oswald-bold-webfont.woff2") format("woff2"),
		url("../fonts/oswald-bold-webfont.woff") format("woff");
}

/* open-sans-regular - cyrillic */
@font-face {
	font-display: swap;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/open-sans-v34-cyrillic-regular.woff2") format("woff2"),
		url("../fonts/open-sans-v34-cyrillic-regular.woff") format("woff");
}
